xml_riddles/myGeneratedODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"
     xmlns:sch="http://www.w3.org/2001/XMLSchema-instance"
   >
   
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">oddbyexample</title>
            <title>Customization for Riddles Encoding</title>
            <author>Lilla Conte</author>
         </titleStmt>
         <publicationStmt>
            <p>Encoding of the Old English Riddles</p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base odd</ref> after an analysis of 3 files</p>
         </sourceDesc>
      </fileDesc>
      <encodingDesc>
         <p>
            This ODD file aims to describe the encoding of Old English Exeter Book Riddles for the project : "Encoding the Exeter Book Riddles : The Whims of the Skies in Old English poetry"
         </p>
         <ab>The TEI Header</ab>
            <p>
               In the TEI header of the encodings, the edition from which the text of the poems are taken is mentioned and the attribute @subtype="artificial"
               is used to point out that the titles given to the poem are editorial and thus artificial. Riddles are therefore referred to by number, according
               to the numbering provided in Tupper's 1910 edition.
            </p>
            <p>As a supplement to the artificial title and numbering, the incipit of each poem is provided in the TEI header for easier
               recognition of the content.
            </p>
            <p>The TEI header also contains a reference to the page where one can find the poem in Tupper's edition, as well as as an ark reference
               for access to the digital copy of the edition, which is available on the Internet Archive. The number of lines is also provided in the
               header.
            </p>
         <ab>The encoding of the poem</ab>
            <ab>General remarks</ab>
               <p>Each line of the poem is labeled 'l' and all of them altogether are contained in the 'lg' tag. The final line of the poem may contain
                  an attribute @ana which the other lines do not contain, which references the presence of a typical Old English formula which invites
                  the reader to guess the word or concept hidden behind the riddle. This attribute is optional as there may be riddles which do not
                  contain such an explicit formula. However, it is useful to identify the riddles which do have one.
               </p>
            <ab>Encoding Old English alliteration</ab>
               <p>
                 Old English poetry works around precise alliteration patterns which are highlighted in this encoding. The 'seg' tag is being used for
                 this purpose. It contains two attributes, one @type and one @subtype which respectively point out that the pattern identified is alliteration
                 and label the subtype of this alliteration based on which letter alliterates in the pattern. This way, it will become easy to locate specific 
                 alliterating patterns based on letters and to count the number of alliterations which occur per letter, for example.
               </p>
            <ab>Reproducing traditional editorial structure</ab>
               <p>
                  In order to reproduce the traditional editorial practice of adding a caesura to the middle of poetic lines in Old English, this encoding
                  provides a caesura through the tag 'milestone' and its @unit, which specifies that the milestone corresponds to the caesura. This is useful
                  for presentation but also to better locate alliteration patterns. It allows us to find out where alliterations are concentrated in the line.
               </p>
            <ab>Tracking lexical patterns</ab>
               <p>
                  In addition to the alliterative pattern, this encoding labels words if they belong to the lexical field of the sky, or to related concepts.
                  This includes metaphorical concepts such as "hrof" [contemporary english: roof] where it suggests the image of the sky as the roof of earth.
                  This allows for a better conceptual understanding of the Old English relationship to the sky in the Riddles.
                  For this purpose, the @eg tag is being used.
                  It can also demonstrate, when there is no word related to this lexical field, how riddles seek to portray a concept, such as a stormy sky,
                  without using vocabulary linked to the sky at all.
               </p>
            <ab>Specific ODD rules</ab>
               <p>
                 Several ODD rules were added by hand to the oddbyexample file generated from the encoded texts (the current file).
               </p>
               <p> Rule 1: the file must contain at least one poem lg. <emph>[see l.495 of the current file]</emph></p>
               <p> Rule 2: the rule counts the number of tags 'milestone' (caesuras) per line so there's only one in each line. It sends a message 
                  if there is more than one. <emph>[see l.502 of the current file]</emph></p>
               <p> Rule 3: when the tag 'l' has an attribute @ana its value can only be "end_formula". This will avoid @ana attributes being used as 
                  annotation tools by users of the schema. <emph>[see l.513 of the current file]</emph></p>
      </encodingDesc>
   </teiHeader>
   <text>
      <body>
         <head>
            <desc>A customization for the encoding project of a selection of Exeter Book Riddles</desc>
         </head>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <moduleRef key="msdescription" include="incipit"/>
            <elementSpec ident="incipit" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <moduleRef key="dictionaries" include="lang"/>
            <elementSpec ident="lang" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <moduleRef key="tagdocs" include="eg"/>
            <elementSpec ident="eg" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <classRef key="att.milestoneUnit"/>
            <moduleRef key="core"
                       include="date ref note milestone author editor title publisher pubPlace bibl l lg"/>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="ark"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="lines"/>
                        <valItem ident="pages"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="milestone" mode="change">
               <attList>
                <!-- Specification that the attribute of milestone can only be 'caesura' -->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="unit" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="caesura"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="book"/>
                        <valItem ident="poem"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="book"/>
                        <valItem ident="poem"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="artificial"/>
                     </valList>
                  </attDef>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lg" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="style" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="poem"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="l" mode="change">
               <!-- Custom rule so that when l has an attribute ana it can only be 'end_formula' -->
               <constraintSpec ident="xmlid" scheme="schematron">
                  <constraint>
                     <sch:report test="l/@ana != 'end_formula'">The attribute 'ana' of 'l' has to be 'end_formula'.</sch:report>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="met" mode="change"/>
                  <attDef ident="ana" mode="change"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt edition publicationStmt distributor idno availability licence sourceDesc"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="edition" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="distributor" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="isbn"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="isbn"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <classRef key="att.metrical"/>
            <classSpec ident="att.metrical" type="atts" mode="change">
               <attList>
                  <attDef ident="real" mode="delete"/>
                  <attDef ident="rhyme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <moduleRef key="linking" include="seg"/>
            <elementSpec ident="seg" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="alliteration"/>
                        <valItem ident="sky_lexical_field"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="a"/>
                        <valItem ident="c"/>
                        <valItem ident="b"/>
                        <valItem ident="d"/>
                        <valItem ident="e"/>
                        <valItem ident="f"/>
                        <valItem ident="g"/>
                        <valItem ident="h"/>
                        <valItem ident="i"/>
                        <valItem ident="j"/>
                        <valItem ident="k"/>
                        <valItem ident="l"/>
                        <valItem ident="m"/>
                        <valItem ident="n"/>
                        <valItem ident="o"/>
                        <valItem ident="p"/>
                        <valItem ident="q"/>
                        <valItem ident="r"/>
                        <valItem ident="s"/>
                        <valItem ident="t"/>
                        <valItem ident="w"/>
                        <valItem ident="u"/>
                        <valItem ident="v"/>
                        <valItem ident="y"/>
                        <valItem ident="æ"/>
                        <valItem ident="þ"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module analysis-->
            <classRef key="att.global.analytic"/>
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <!-- Custom rule so that body contains at least one poem (lg)  -->
               <content>
                  
                     <elementRef key="lg" minOccurs="1"/>
                     
                  
               </content>
               <!-- Custom rule to count the number of caesuras per line, so that there is only one -->
               <constraintSpec ident="xmlid" scheme="schematron">
                  <constraint>
                     <sch:assert test="count(//milestone[@unit='caesura']) = 1">There must be exactly one caesura milestone per line (l).</sch:assert>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
